<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <h1>{{title}}</h1>
        <input v-model="title">
        <ul>
            <li v-for="value in list"></li>
        </ul>
    </div>
    <script>
    var vm=new Vue({
        el:"#root",
        data:{
            title:"第一个标题",
            list:[
                 "zhangdan",
                "lisi"
            ]    
        },
        methods:{
            fn(){
               console.log(1)
            }
        }
    });
    
    </script>
</body>
</html>